.App {
  background-color: hsl(213, 19%, 18%);
  margin: 0 auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 2em;
}

.star {
  border-radius: 50%;
  background-color: hsl(214, 42%, 27%);
  width: 3em;
  padding: 0.7rem;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
}

p {
  color: hsl(217, 12%, 63%);
}

/* ul {
  display: flex;
  gap: 2em;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li button {
  border: none;
  border-radius: 50%;
  background-color: hsl(213, 29%, 24%);
  width: 3em;
  height: 3em;
  color: hsl(217, 12%, 63%);
} */
